<template>
    <v-select :options="options" label="label" v-model="value"
        class="select-country lg:w-72 w-full shadow appearance-none border rounded w-full py-1 h-10 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        :clearable="false">

        <template #open-indicator="{ attributes }">
            <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512" v-bind="attributes">
                <path
                    d="M201.4 342.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 274.7 86.6 137.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z" />
            </svg>
        </template>

        <template #option="{ id, label }">
            <div class="flex font-normal">
                <img :src="`https://flagcdn.com/${id.slice(0, 2).toLowerCase()}.svg`" width="30" class="mr-2">
                {{ label }}
            </div>
        </template>

        <template #selected-option="{ label, name, id }">
            <div class="flex font-normal">
                <img :src="`https://flagcdn.com/${id?.slice(0, 2).toLowerCase()}.svg`" width="25" class="mr-1">
                {{ id }} &nbsp;-&nbsp;<span style="font-size: 12.5px;" class="text-gray-500">{{ name }} </span>
            </div>
        </template>
    </v-select>
</template>
<script>
export default {
    props: ['options', 'value']
}
</script>