{% extends 'base.html.twig' %}

{% block title %} Convierte {{formCurrency.from}} a {{formCurrency.to}}{% endblock %}

{% block body %}
	<div id="app" class="bg-gray-100 h-screen">
		<navbar></navbar>
		<currency-converter countries="{{ currencies|json_encode }}" form="{{ formCurrency|json_encode }}"></currency-converter>
	</div>
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('app') }}
{% endblock %}
