<!-- src/components/CurrencyConverter.vue -->
<template>
  <div class="w-full">
    <form class="bg-white lg:shadow-md lg:rounded px-8 pt-6 pb-8 mb-4 lg:w-11/12 m-auto mt-5">
      <h1 class="text-2xl mb-2 text-sky-900 font-bold">Conversor de moneda</h1>
      <p class="mb-4">Por favor, introduce el monto que deseas convertir y selecciona las monedas de origen y destino</p>

      <div class="lg:flex lg:space-x-4 items-end mt-5 ">
        <div class="lg:m-0 mb-2">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
            Monto:
          </label>
          <input-currency v-model="amount" :options="{ currency: symbolCurrency }" :key="symbolCurrency" />
        </div>

        <div class="lg:m-0 mb-2">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="username">De: </label>
          <SelectCountry :options="currencyOptions" v-model="from" @change="convertAndUpdate" />
        </div>
        <div class="lg:m-0 mb-2">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="username"> a</label>
          <SelectCountry :options="currencyOptions" v-model="to" @change="convertAndUpdate" />
        </div>
        <button
          class="bg-sky-700 hover:bg-sky-900 text-white font-bold py-2 px-4 h-10 align-bottom rounded focus:outline-none focus:shadow-outline shadow"
          type="button" @click="convertAndUpdate" :disabled="isLoading">
          Convertir
        </button>
      </div>

      <div v-if="result" class="mt-4">
        <span class="block mb-0 text-gray-500 font-semibold">
          {{ this.formatCurrency(amount) }} {{ from.name }} es
          equivalente a:
        </span>

        <b class="text-2xl text-sky-900 block font-bold">
          {{ this.formatCurrency(result) }}
          {{ to.name }}
        </b>

        <p class="text-gray-500 mt-2"> 1 {{ from.id }} = {{ this.formatCurrency(equivalent) }} {{ to.id }} </p>
        <p class="text-gray-500"> 1 {{ to.id }} = {{ this.formatCurrency(1 / equivalent) }} {{ from.id }}</p>

        <small class="text-gray-400 italic pt-1"> Última actualización: {{ lastUpdateDate }} UTC
          <a class="text-blue-600 font-semibold not-italic ml-1 cursor-pointer" @click="getRates">Actualizar </a>
        </small>
      </div>
      <div v-else-if="isLoading" class=" mt-4 w-12 h-12 border-t-4 border-blue-500 rounded-full animate-spin"></div>
      <div v-if="error" class="mt-4 text-">{{ error }} </div>
    </form>

  </div>
</template>

<script>
import InputCurrency from './forms/InputCurrency.vue';
import SelectCountry from './forms/SelectCountry.vue';

export default {
  components: { InputCurrency, SelectCountry },
  name: 'CurrencyConverter',
  props: {
    countries: {
      type: String,
      required: true
    },
    form: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      amount: 1000,
      from: null,
      to: null,
      equivalent: false,
      isLoading: false,
      rates: {},
      isInitialLoad: true,
      error: ""
    };
  },
  watch: {
    amount() {
      if (!this.isInitialLoad) {
        this.convertAndUpdate();
      }
    },
    from() {
      if (!this.isInitialLoad) {
        this.getRates();
        this.updateUrl();
      }
    },
    to() {
      if (!this.isInitialLoad) {
        this.convertAndUpdate();
      }
    },
  },
  created() {
    try {
      const formCurrency = JSON.parse(this.form);
      this.from = this.currencyOptions.find(item => item.id == formCurrency.from) || null;
      this.to = this.currencyOptions.find(item => item.id == formCurrency.to) || null;
    } catch (error) {
      console.error('Error parsing form prop: ', error);
    }
  },
  mounted() {
    this.isInitialLoad = false;
  },
  computed: {
    lastUpdateDate() {
      let date = new Date(this.rates.timestamp * 1000);
      return date.toLocaleString('es-US', { day: '2-digit', month: 'short', year: 'numeric', hour: '2-digit', minute: '2-digit', second: '2-digit', timeZone: 'UTC' });
    },
    result() {
      return this.equivalent ? this.amount * this.equivalent : false
    },
    symbolCurrency() {
      return this.from?.id ?? 'USD'
    },
    currencyOptions() {
      return Object.entries(JSON.parse(this.countries)).map(([code, name]) => ({
        id: code,
        label: `${code} - ${name}`,
        name
      }));
    }
  },
  methods: {
    formatCurrency(amount) {
      if (!amount) {
        return ''
      }

      return amount.toLocaleString("en-US", { minimumFractionDigits: 2, maximumFractionDigits: 4 })
    },
    updateUrl() {
      const url = new URL(window.location);
      url.searchParams.set('from', this.from.id);
      url.searchParams.set('to', this.to.id);
      window.history.pushState({}, '', url);
    },
    async getRates() {
      if (!this.from || !this.amount) {
        return;
      }

      try {
        this.isLoading = true;
        this.error = null;

        const response = await fetch(`/api/rates?source=${this.from.id}`, { method: "GET" });

        if (!response.ok) {
          const errorData = await response.json();

          if (response.status == 429) {
            window.location.href = "/limit-reached";
          }

          throw new Error(errorData.message || `${response.status}`);
        }

        const data = await response.json();
        this.rates = data;

        this.isLoading = false;

      } catch (error) {
        this.isLoading = false;
        this.error = error.message;
      }
    },
    async convertAndUpdate() {
      const rateKey = `${this.from.id}${this.to.id}`;

      if (!(this.rates?.quotes && this.rates.quotes.hasOwnProperty(rateKey))) {
        await this.getRates();
      }

      if (this.rates?.quotes && this.rates.quotes.hasOwnProperty(rateKey)) {
        this.equivalent = this.rates.quotes[rateKey];
      }

      this.updateUrl()
    },
  }
}
</script>