<!-- src/components/Navbar.vue -->
<template>
    <nav class="flex items-center justify-between flex-wrap bg-sky-900	p-4">
        <div class="flex items-center flex-shrink-0 text-white mr-6">

            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" class="fill-current h-8 w-8 mr-1">
                <g data-name="market investment">
                    <path
                        d="M29.8 7.77a1 1 0 0 0-1.95.46A5.38 5.38 0 0 1 28 9.5a5.49 5.49 0 1 1-1.69-4 1 1 0 1 0 1.38-1.44A7.5 7.5 0 1 0 30 9.5a7.72 7.72 0 0 0-.2-1.73zM9.5 15a7.5 7.5 0 0 0 0 15 7.78 7.78 0 0 0 1.73-.2 1 1 0 0 0-.46-1.95A5.38 5.38 0 0 1 9.5 28a5.49 5.49 0 1 1 4-1.69 1 1 0 0 0 1.44 1.38A7.5 7.5 0 0 0 9.5 15zM25 18a1 1 0 0 0-1 1v4h-2.59l1.3-1.29a1 1 0 0 0-1.42-1.42l-3 3a1 1 0 0 0 0 1.42l3 3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42L21.41 25H25a1 1 0 0 0 1-1v-5a1 1 0 0 0-1-1zM7 14a1 1 0 0 0 1-1V9h2.59l-1.3 1.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l3-3a1 1 0 0 0 0-1.42l-3-3a1 1 0 0 0-1.42 1.42L10.59 7H7a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1z" />
                    <path
                        d="M21.92 12.21a.17.17 0 0 0 .13 0h.85a.17.17 0 0 0 .19-.19v-.49a2.52 2.52 0 0 0 .9-.3 1.55 1.55 0 0 0 .61-.55 1.31 1.31 0 0 0 .22-.76 1.38 1.38 0 0 0-.19-.76 1.27 1.27 0 0 0-.62-.5 3.67 3.67 0 0 0-1.13-.27l-.48-.09a.57.57 0 0 1-.23-.09.15.15 0 0 1-.07-.12.19.19 0 0 1 .08-.09.57.57 0 0 1 .26 0 .55.55 0 0 1 .24 0 .4.4 0 0 1 .13.09l.13.08a.33.33 0 0 0 .15 0h1.41a.14.14 0 0 0 .1 0 .14.14 0 0 0 0-.11 1.1 1.1 0 0 0-.19-.53 1.73 1.73 0 0 0-.48-.53 2.15 2.15 0 0 0-.84-.34v-.53A.17.17 0 0 0 23 6a.18.18 0 0 0-.14-.06h-.85a.18.18 0 0 0-.13.06.18.18 0 0 0-.06.14v.49a2.07 2.07 0 0 0-1.14.54 1.4 1.4 0 0 0-.42 1 1.33 1.33 0 0 0 .22.78 1.4 1.4 0 0 0 .63.5 3.52 3.52 0 0 0 1 .26l.55.09a.88.88 0 0 1 .28.1.19.19 0 0 1 .08.14q0 .09-.15.15a1.25 1.25 0 0 1-.38 0h-.21l-.17-.05-.11-.04-.16-.1a.4.4 0 0 0-.17 0h-1.34a.14.14 0 0 0-.15.15 1.28 1.28 0 0 0 .19.64 1.57 1.57 0 0 0 .56.52 2.83 2.83 0 0 0 .93.3v.48a.18.18 0 0 0 .06.12zM8.92 25.21a.17.17 0 0 0 .13.05h.85a.17.17 0 0 0 .19-.19v-.49a2.52 2.52 0 0 0 .9-.3 1.55 1.55 0 0 0 .61-.55 1.31 1.31 0 0 0 .22-.76 1.38 1.38 0 0 0-.19-.76 1.27 1.27 0 0 0-.62-.5 3.67 3.67 0 0 0-1.13-.27l-.48-.09a.57.57 0 0 1-.23-.09.15.15 0 0 1-.07-.12.19.19 0 0 1 .08-.14.57.57 0 0 1 .26 0 .55.55 0 0 1 .24 0 .4.4 0 0 1 .13.09l.13.08a.33.33 0 0 0 .15 0h1.41a.14.14 0 0 0 .1-.05.14.14 0 0 0 .05-.11 1.1 1.1 0 0 0-.19-.53 1.73 1.73 0 0 0-.53-.51 2.15 2.15 0 0 0-.84-.34v-.51A.17.17 0 0 0 10 19a.18.18 0 0 0-.14-.06h-.81a.18.18 0 0 0-.13.06.18.18 0 0 0-.06.14v.49a2.07 2.07 0 0 0-1.14.54 1.4 1.4 0 0 0-.42 1 1.33 1.33 0 0 0 .22.78 1.4 1.4 0 0 0 .63.5 3.52 3.52 0 0 0 1 .26l.55.09a.88.88 0 0 1 .28.1.19.19 0 0 1 .08.14q0 .09-.15.15a1.25 1.25 0 0 1-.38.05h-.38L9 23.1l-.16-.1a.4.4 0 0 0-.17 0H7.33a.14.14 0 0 0-.15.15 1.28 1.28 0 0 0 .19.64 1.57 1.57 0 0 0 .56.52 2.83 2.83 0 0 0 .93.3v.48a.18.18 0 0 0 .06.12z" />
                </g>
            </svg>
            <span class="font-semibold text-xl tracking-tight">PulpoExchange</span>
        </div>
        <div class="block lg:hidden">
            <button
                class="flex items-center px-3 py-2 border rounded text-teal-200 border-teal-400 hover:text-white hover:border-white">
                <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <title>Menu</title>
                    <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
                </svg>
            </button>
        </div>
        <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
            <div class="text-sm lg:flex-grow">
                <a href="/" class="block mt-4 lg:inline-block lg:mt-0 hover:text-gray-200 text-white mr-4">
                    Convertir
                </a>

                <a href="/requests" class="block mt-4 lg:inline-block lg:mt-0 hover:text-gray-200 text-white mr-4">
                    Solicitudes
                </a>
            </div>
        </div>
    </nav>
</template>

<script>
export default {
    name: 'Navbar'
}
</script>

<style scoped>
/* Aquí puedes agregar estilos para tu barra de navegación */
</style>