<template>
    <div class="w-full pt-5">
        <div class="bg-white lg:shadow-md lg:rounded px-8 pt-6 pb-8 mb-4 lg:w-9/12 m-auto mt-5 p overflow-x-scroll">
            <h1 class="text-2xl mb-4 text-sky-900 font-bold">Listado de solicitudes</h1>
            <table class="min-w-full divide-y divide-gray-200">
                <thead class="bg-gray-50">
                    <tr>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                            ID
                        </th>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                            Endpoint
                        </th>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                            Requested At
                        </th>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                            IP
                        </th>
                    </tr>
                </thead>
                <tbody class="bg-white divide-y divide-gray-200">
                    <tr v-for="request in requestList" :key="request.id">
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                            {{ request.id }}
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                            {{ request.endpoint }}
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                            {{ formatDate(request.requestedAt) }}
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                            {{ request.ip }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
export default {
    props: ['requests'],
    data() {
        return {
            requestList: []
        }
    },
    created() {
        this.requestList = JSON.parse(this.requests)
        console.log(this.requests);
    },
    methods: {
        formatDate(timestamp) {
            let date = new Date(timestamp * 1000);
            return date.toLocaleString('es-US', { day: '2-digit', month: 'short', year: 'numeric', hour: '2-digit', minute: '2-digit', second: '2-digit' });
        }
    }
}
</script>