<template>
    <div class="mt-4">

        <span class="block mb-0 text-gray-500 font-semibold">
            {{ this.formatCurrency(amount) }} {{ from.name }} es
            equivalente a:
        </span>

        <b class="text-2xl text-sky-900 block font-bold">
            {{ this.formatCurrency(result) }}
            {{ to.name }}
        </b>

        <p class="text-gray-500 mt-2"> 1 {{ from.id }} = {{ this.formatCurrency(equivalent) }} {{ to.id }} </p>
        <p class="text-gray-500"> 1 {{ to.id }} = {{ this.formatCurrency(1 / equivalent) }} {{ from.id }}</p>

        <small class="text-gray-400 italic pt-1"> Última actualización: {{ lastUpdateDate }} UTC
            <a class="text-blue-600 font-semibold not-italic ml-1 cursor-pointer" @click="getRates">Actualizar </a>
        </small>
    </div>
</template>

<script>
export default {
    props: ["lastUpdateDate", "result", "amount", "to", "from", "equivalent"],
    methods: {
        formatCurrency(amount) {
            if (!amount) {
                return ''
            }

            return amount.toLocaleString("en-US", { minimumFractionDigits: 2, maximumFractionDigits: 4 })
        },
    }
}
</script>