/* assets/styles/app.css */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap");

@import "vue-select/dist/vue-select.css";

* {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
}

.select-country {
  font-size: 14px;
}
.vs__selected-options,
.vs__selected {
  padding: 0 !important;
  margin: 0 !important;
}

.vs__dropdown-toggle {
  border: none !important;
}
