<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			PulpoExchange -
			{% block title %}{% endblock %}
		</title>
		
		<meta name="description" content="Pulpo Exchange es una aplicación para convertir monedas">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		{% block stylesheets %}
			{{ encore_entry_link_tags('styles') }}
		{% endblock %}
	</head>
	<body>
		{% block body %}{% endblock %}
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</body>
</html>
