{% extends 'base.html.twig' %}

{% block title %}
	Límite diario alcanzado


{% endblock %}

{% block body %}
	<div id="app" class="bg-gray-100 h-screen">
		<navbar></navbar>
		<div class="w-full pt-5">
			<div class="bg-white lg:shadow-md lg:rounded px-8 pt-6 pb-8 mb-4 lg:w-9/12 m-auto mt-5 p ">

				<h1 class="text-2xl mb-2 text-sky-900 font-bold">Has alcanzado el límite diario de conversiones</h1>
				<p class="text-left pt-2">Los usuarios invitados pueden utilizar el servicio de conversión hasta 5 veces al día. Por favor, vuelve dentro de 24 horas para continuar utilizando el servicio.</p>

			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('app') }}
{% endblock %}
