{% extends 'base.html.twig' %}

{% block title %}
	Listado de solicitudes
{% endblock %}

{% block body %}
	<div id="app" class="bg-gray-100 h-screen">
		<navbar></navbar>
		<request-list requests="{{ requests|json_encode }}"></request-list>

	</div>
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('app') }}
{% endblock %}
